:root{
    --github-black: #24292E;
    --github-gray: #959DA5;
    --github-outline-gray: #eaecef;
    --github-svg-gray: #6a737d;
    --github-blue: #0366D6;
    --github-light-blue: #54a3ff;
    --github-shadow-blue: #54a4ff67;
    --github-peach: #f9826c;
    --github-green: #2ea44f;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    color: var(--github-black);
    line-height: 1.25;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1300px;
    margin: auto;
    display: flex;
}

#profile-page{
    display: none;
}

#search-page{
    display: flex;
}

.main-header{
    background-color: var(--github-black);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0px;
    color: white;
    margin-bottom: 40px;
}

.mobile-menu{
    display: none;
    outline: none;
    border:none;
    background: transparent;
    width: 24px;
    flex-direction: column;
    justify-content: space-between;
    height: 16px;
}

.mobile-menu > span{
    display: block;
    height: 2px;
    border-radius: 3px;
    background: white;
    width: 100%;
}

.main-header section{
    display: flex;
    align-items: center;
    width: max-content;
}
.logo{
    margin-right: 16px;
}
.logo img{
    width: 32px;
}
.main-header a:hover{
    opacity: 0.7;
    cursor: pointer;
    
}

input{
    background-color: transparent;
    outline: none;
    border-width: 1px;
    border-style: solid;
    border-width: 1px;
    transition: width 0.3s ease-in-out;
    border-radius: 5px;
    padding: 8px 10px;
    color: white;
    line-height: 0;
}

.input-dark {
    width: 100%;
    border-color: var(--github-outline-gray);
    color: var(--github-black);
}
.input-dark:focus {
    border-color: var(--github-blue);
    box-shadow: 0px 0px 0px 3px var(--github-shadow-blue);
}

.main-header .search{
    width: 243px;
    transition: width 0.3s ease-in-out;
}

.main-header .search:focus-within {
    width: 300px;
}
.main-header input{
    width: 100%;
    border-color: #444d56;
    border-right: none;
    border-radius: 5px 0px 0px 5px;
}

.main-header .search button {
    outline: none;
    background: none;
    border: 1px solid #444d56;
    border-left: none;
    height: inherit;
    font-size: 16px;
    color: #444d56;
    font-weight: bold;
    line-height: 1;  
    border-radius: 0px 5px 5px 0px;
    
}

.main-header .search:focus-within button {
    display: none;
}
.main-header .search button .stroke-container{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #444d56;
   height: 19px;
   width: 18px;
   margin-block-end: 0;
   margin: 6px 8px;
   border-radius: 4px;
}
.main-header .search button .stroke{
    display: block;
    border: none;
    width: 1.5px;
    height: 10px;
    transform: skewX(-15deg);
    background-color: #444d56;
}


.main-header .search:focus-within input{
    background-color: white;
    color: var(--github-black);
    border-radius: 5px;
    border-right: 1px solid #444d56;
}


.main-header nav{
 margin-left: 16px;
 font-size: 14px;
}
.main-header nav ul{
    list-style: none;
    width: max-content;
}
.main-header nav ul li{
display: inline-block;
margin-left: 16px;
font-weight: 600;
}
.main-header nav ul li a, .main-header nav ul li a:visited{
color: white;
text-decoration: none;
}

.main-header .user div {
    margin-left: 16px;
}
.main-header .notification {
    position: relative;
}
.main-header .notification .indicator{
    width: 12px;
    height: 12px;
    border-radius: 100%;
    position: absolute;
    top: -9px;
    right:-4px;
    background: linear-gradient( var(--github-light-blue), var(--github-blue));
    border: 2px solid var(--github-black);
}
.main-header .user .avatar img{
    width: 20px;
    height: 20px;
    object-position: center;
    object-fit: cover;
    border-radius: 100%;
}

.sidebar{
    width: 23.5%;
     max-width: 280px;
     margin-right: 32px;
     flex-shrink: 0;
 }
 .sidebar .profile {
     font-weight: bold;
     font-size: 14px;
 }
 .sidebar .profile .image {
    position: relative;
 }

  .sidebar .profile img {
     width: 32px;
     height: 32px;
     border-radius: 100%;
     display: block;
     margin-right: 8px;
 }
.tabs-wrapper{
    border-bottom: 1px solid var(--github-outline-gray);
    position: sticky;
    top:0;
    background: white;
}

.tabs {
    list-style: none;
}
.tabs .item{
    padding:  16px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    margin-left: -5px;
}

.tabs .item .pill {
    margin-left: 8px;
    padding: 4px 8px;
    font-weight: 600;
    font-size: 12px;
    border-radius: 16px;
    background-color: var(--github-outline-gray);
}

.tabs .item:hover{
    border-bottom-color: #d1d5da;
}
.tabs a {
    color: var(--github-gray);
   
}

.tabs .item.active{
   color: var(--github-black);
   border-bottom-color: var(--github-peach);
   font-weight: 600;
}

.tabs .item.active svg{
    fill: var(--github-black);
}
.tabs .item svg{
    fill: var(--github-gray);
    margin-right: 8px;
}
#tabs-profile{
    display: none;
}
.profile{
    width: 100%;
}

.profile-wrapper .profile {
    font-weight: normal;
}
.profile-wrapper .profile {
    font-weight: normal;
}


.profile .avatar img{
    background-color: var(--github-outline-gray);
    display: block;
    width: 100%;
    height: auto;
    border-radius: 100%;
    aspect-ratio: 1/1;
    margin-top: -32px;
    
}
#status{
    background: white;
    padding: 8px;
    border-radius: 38px;
    border: 1px solid var(--github-outline-gray);
    position: absolute;
    cursor: pointer;
    left: calc(100% - 40px);
    text-align: left;
    top:  50%;
}

#status:hover{
    width: max-content;
}
#status .emoji{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  overflow: hidden;
  height: 22px;
}
#status .message{
    margin: 0px 8px;
  display: none;
}

#status:hover .message{
    color: var(--github-blue);
    display: block;
    width: auto;

}

.profile .fullname{
    font-size: 26px;
    margin-top: 16px;
    font-weight: 500;
}
.profile-wrapper .profile .username {
    font-size: 20px;
    font-weight: lighter;
    color: var(--github-gray)
}
.profile .bio {
    font-size: 16px;
    margin-top: 16px;
    line-height: 1.5;
}

.repos {
    width: 100%;
}
.repos header, .repos .results{
    padding: 16px 0px;
    border-bottom: 1px solid var(--github-outline-gray)
}



.repos .repository {
padding: 32px 0px;
border-bottom: 1px solid var(--github-outline-gray)
}
.repository .header{
    justify-content: space-between;
}
.repository .name_description{
    width: 75%;
}
.repository h3{
    font-size: 20px;
    font-weight: 500;
}
.repository a {
    color: var(--github-blue)
}
.repository a:hover{
    text-decoration: underline;
}

.repository .description {
    font-size: 14px;
    margin-top: 8px;
}

.repository .info{
    display:  flex;
    font-size: 12px;
    margin-top: 16px;
}

.repository .info>div{
    margin-right: 16px;
    display: inline-flex;
    align-items: center;
}
.repository .info>div svg{
    margin-right: 4px;
    fill: var(--github-gray)
}

.repository button>svg{
    margin-right: 4px;
    fill: var(--github-gray);
}
.repository button{
    display: inline-flex;
    outline: none;
    cursor: pointer;
    border: 1px solid var(--github-svg-gray);
    background-color: white;
    border-radius: 5px;
    padding: 6px 12px;
    font-weight: 600;
    font-size: 12px;
}
.repository button:hover{
    background-color: var(--github-outline-gray);

}

.language{
    display: inline-flex;
    
}

.language .indicator{
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: var(--github-peach);
    margin-right: 4px;
}


.search-wrapper {
    width: 100%;
    height: 100vh;

}

.search-wrapper header {
   justify-content: center;
}

.search-wrapper h1{
    font-size: 24px;
}

.search-wrapper .container{
    display: block;
    width: 400px;
}
.search-wrapper header > img {
    display: block;
    width: 32px;
    height: 32px;
    margin-right: 8px;
}
.search-wrapper form{
    margin-top: 16px;
display: flex;
}
.search-wrapper form input {
    width: 100%;
}

#message-container{
    text-align: center;
    border-radius: 5px;
    margin-top: 8px;
    padding:12px 8px;
    line-height: 1.5;
    font-size: 14px;
    display: none;
    border-width: 1.5px;
    border-style: solid;
    
}
.search-wrapper form input[type="submit"]{
width: 100px;
background-color: var(--github-blue);
cursor: pointer;
margin-left: 8px;
border: none;
}
.search-wrapper form input[type="submit"]:hover{
background-color: var(--github-light-blue);

}

@media screen and (max-width: 868px) {
    .main-header .search{
        width: 200px;
    }
    .main-header .search:focus-within {
        width: 243px;
    }
    
}
@media screen and (max-width: 768px) {
    
    


    .container{
        flex-direction: column;
        width: 100%;
    }

    .mobile-menu{
        display: inline-flex;
    }

    .main-header {
        margin-bottom: 0px;
    }

    .tabs-wrapper {
        margin-top: 16px;
    }
    .sidebar {
        width: 100%;
        max-width: 100%;
    }

    .sidebar .profile .image > section{
        display: flex;
        align-items: center;
        
    }
  #status{
        position: static;
        width: 100%;
        border-radius: 5px;
        color: var(--github-black);
        margin-top: 36px;
    }

#status .message {
    display: block;
}
  #status:hover {
        width: 100%;
    
    }
    .sidebar .profile .avatar {
        width: 20%;
        margin-right: 16px ;
        flex-shrink: 0;
    }
    
    .sidebar .profile .avatar img{
        display: block;
        width: 100%;
        align-items: center;
        margin-top: 16px;
    }
    .tabs-wrapper .sidebar  {
        display: none !important;
    }

    .profile-wrapper.wrapper{
padding-right: 0px !important;
padding-left: 0px !important;
    }

  
    .profile-wrapper .sidebar, .profile-wrapper .repos{
        width: 100% ;
        padding:  0px 16px;
    }

    .tabs-wrapper nav{
        overflow-x: auto;
    }
    .tabs{
        width: max-content;
    }
    .tabs a{
        display: inline-flex;
        white-space: nowrap;
    }
    .tabs .item{
        padding: 8px 12px;
    }
    .tabs .item svg{
        display: none;
    }

    .repository .name_description{
        width: 80%;
    }

}