.flex-vertical-center{
    display: flex;
    align-items: center;
}

.wrapper {
    padding-left: 32px;
    padding-right: 32px;
}

.container{
    max-width: 1300px;
    margin: auto;
    display: flex;
}

.page{
    display: none;
}

.page.active{
    display: block;
}


.hide-on-pc{
    display: none;
}

@media screen and (min-width:768px) and (max-width: 868px){
    .hide-on-tab{
        display: none;
    }
}
@media  screen and (max-width:768px) {
    .wrapper{
        padding-right: 16px;
        padding-left: 16px;
    }
    .hide-on-mobile{
        display: none;
    }

    .hide-on-pc{
        display: inherit;
    }
}